.about-page-container {
  width: 100%;
  box-sizing: border-box;
}

.about-content-placeholder {
  min-height: calc(100vh - 100px - 380px); /* Adjusts height to push footer to bottom */
  background-color: var(--section-bg);
}

@media (max-width: 768px) {
  .about-content-placeholder {
    min-height: calc(100vh - 100px - 450px);
  }
}
